.header
    height: 60vh
    width: 100vw

    .bg-photo
        height: inherit
        background-image: url("../assets/img/book.webp")
        background-position: top

@media (max-width: 950px)
    .bg-photo
        // background-image: url("../assets/img/book_mob.webp")
        background-size: auto 200%
        // background-position: center
@media (min-width: 951px)
    .bg-photo
        background-size: 100% auto
