.main

    .article        

        .article__title
            padding: 50px
            grid-column-end: span 2 
            @include center-flex
            font-size: 2.5rem

        .section
            display: grid
            grid-template-columns: 300px 900px
            grid-template-rows: auto

            .section__question-container
                padding: $main-sections-distance
                
                .section__question
                    font-size: 2rem


            .section__content-container
                padding: $main-sections-distance

                .section__content
                    font-size: 1.3rem
                    margin-bottom: $main-sections-distance
            
            .section__li-title
                font-size: 1.4rem
                margin: 0px 0 5px


