.main

    .article        
        .article__title
            grid-column-end: span 2 
            @include center-flex
            font-size: 2.5rem
            margin: 50px

        .section
            display: grid
            grid-template-columns: 300px 900px
            grid-template-rows: auto
            margin: 50px

            .section__question
                font-size: 2rem

            .section__content
                font-size: 1.3rem
                text-align: justify