.nav
    z-index: 1
    position: fixed
    right: 0
    width: 100%
    background-color: white
    padding-right: 20px

    transition: 0.3s
    
    display: flex
    justify-content: flex-end

    
    .nav__ul
        width: 75%
        display: flex

        .nav__li
            width: 100%

            height: 90px

            @include center-flex

            .nav__a
                @include center-flex
                font-size: 1.1rem
                text-transform: uppercase
                text-align: center
                width: 100%
                height: 100%

.nav-transparent
    background-color: transparent
    
    .nav__a
        color: white